{% extends "basetemplate.html.twig" %}
{% block title%}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div>
    <div class="pull-right">
        </div>
        <h1>Modification du pays : {{ modificationPays.nom }}</h1>
        <hr />
        {{ include('pays/formulairePays.html.twig')}}
        <p>
    </div>
</html>

{% block JS %}
    {{ parent() }}
{% endblock %}

{% endblock %}